body {
    /* combria. Most common: Arial, Times New Roman, and Helvetica.   */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    background: lavenderblush;
    text-align: center;
}

.img-mmrag {
    width: 500;
}
.img-txtrag {
    width: 500;
}
.img-mmrag-txtrag {
    width: 500;
}

.container {
    text-align: center;
}
.container::before {
    content: '';
    width: 30%;
    display: inline-block;
}