body {
    /* combria. Most common: Arial, Times New Roman, and Helvetica.   */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    background: lavenderblush;
    text-align: center;
}

.img-mmrag {
    width: 300;
    margin-bottom: 50;
}
.img-txtrag {
    width: 300;
}
