body {
    /* combria. Most common: Arial, Times New Roman, and Helvetica.   */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    background: lavenderblush;
    text-align: center;
}

.img-mmrag {
    width: 500;
}
.img-txtrag {
    width: 500;
}
.img-mmrag-txtrag {
    width: 1200;
}

.container {
    text-align: center;
}
.container::before {
    content: '';
    width: 30%;
    display: inline-block;
}

.center-text {
    font-size: 22px;
    width: 60%; /* Set the width of the container to 60% of its parent */
    margin: 0 auto; /* Center the container */
    text-align: left; /* Center the text inside the container */
    word-wrap: break-word; /* Ensure long words are wrapped */
}